
<a href="#!/landing" class="btn btn-info"  id="button-landing" role="button">Volver al Inicio</a>
<div class="main-panel">
  <div class="container" >

    <!-- Inicio de la sección registerPropietary, que contiene el formulario del propiedad, registrar, modificar y listar-->
    <section id="registerProperty">

      <h1 class="text-center">Propiedades</h1>
      <hr>

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" ng-click="anterior()" href="">Registro</a></li>
        <li><a data-toggle="tab" ng-click="siguiente()" href="">Propiedades registradas</a></li>
      </ul>

      <!-- Inicio del formulario del propiedad: -->
      <form name="frmRegisterProperty" novalidate autocomplete="off">

        <!--Inicio de los inpust para el formulario  -->
        <div class="col-xs-12" id="frmRegisterProperty" ng-show="pagina==1">
          <md-input-container class="col-xs-12 col-sm-12 col-md-12" layout="column">
            <label for="">Nombre:</label>
            <input type="text" ng-model="vm.name" name="name" ng-maxlength="20" required>
            <div ng-messages="frmRegisterProperty.name.$error">
              <div ng-messages-include="components/includes/messages.html"></div>
            </div> <!--cierre del ng-messages -->
          </md-input-container>

          <md-input-container class="col-xs-12 col-sm-12 col-md-12" layout="column">
            <label for="">Código:</label>
            <input type="text" ng-model="vm.code" name="code" ng-maxlength="20" required>
            <div ng-messages="frmRegisterProperty.code.$error">
              <div ng-messages-include="components/includes/messages.html"></div>
            </div> <!--cierre del ng-messages -->
          </md-input-container>

          <md-input-container class="col-xs-12 col-sm-12 col-md-12" layout="column">
            <label for="">Precio:</label>
            <input type="text" ng-model="vm.price" name="price" ng-maxlength="20" required>
            <div ng-messages="frmRegisterProperty.price.$error">
              <div ng-messages-include="components/includes/messages.html"></div>
            </div> <!--cierre del ng-messages -->
          </md-input-container>
    
          <!-- Botones de Seleccionar foto, Registrar y Actualizar -->
          <div class="col-xs-12 col-sm-12 col-md-12">

           <div class="input-group">
            <label class="input-group-btn">
              <span class="btn btn-info">
                Seleccionar foto
                <input class="photo-botton" type="file" style="display: none;" ng-model="vm.photo" name="photo" id="photo">
              </span>
            </label>
          </div>

          <div class="col-xs-12">
            <div id="registrar">
              <md-button class="button Active" type="submit" ng-disabled="frmRegisterProperty.$invalid" ng-click="vm.save()">Registrar</md-button>
            </div>

            <div class="displayNone" id="actualizar">
              <md-button class="button edit" type="button" ng-disabled="frmRegisterProperty.$invalid" ng-click="vm.update(property);siguiente()">Actualizar</md-button>
            </div>
          </div>
        </div>

      </div>

    </section> <!-- Cierre de la sección registerProperty -->
  </form> <!-- Cierre del formulario de la propiedad  -->
</div>

<div class="container" ng-show="pagina==2">

  <!--Buscador de propiedades-->
  <section class="inputSearch">
    <div class="col-sm-3 col-md-3 col-sm-offset-9 col-md-offset-9">
      <form action="" class="search-form">
        <div class="form-group has-feedback">
          <label for="Buscar" class="sr-only">Buscar</label>
          <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
      </form>
    </div>
  </section>

  <div class="col-xs-12">
    <!--inicio de los cards -->
    <md-card class="container-fluid col-md-6 col-sm-6 " ng-repeat="property in vm.property | filter:vm.nameFilter">
      <md-card-header>
        <md-card-header-text>
          <span class="md-title">{{property.name}}</span>
          <span class="md-subhead">{{property.code}}</span>
        </md-card-header-text>
      </md-card-header>

      <md-card-title>
        <md-card-title-text>
          <span class="md-subhead">Precio: {{property.price}}</span>
        </md-card-title-text>

      </md-card-title>

      <!-- Boton para cambiar el editar los propiedades -->
      <md-card-actions id="buttons">
        <md-button class="edit" ng-click="vm.getInfo(property);vm.hideButton();registro1()">Modificar</md-button>
        <md-card-icon-actions> <!-- cierre botones  -->
          <!--fin de los cards -->
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <p class="copyright text-muted">Copyright &copy; WilkenChG</p>
        </div>
      </div>
    </div>
  </footer>
