<a href="#!/landing" class="btn btn-info"  id="button-landing" role="button">Volver al Inicio</a>
  <div class="main-panel">
      <div class="container" >

          <!-- Inicio de la sección registerPropietary, que contiene el formulario del jugador, registrar, modificar y listar-->
          <section id="registerProperty">

            <h1>Propiedades</h1>
            <hr>

            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" ng-click="anterior()" href="">Registro</a></li>
              <li><a data-toggle="tab" ng-click="siguiente()" href="">Propiedades registradas</a></li>
            </ul>

            <!-- Inicio del formulario del jugador: -->
            <form name="frmRegisterProperty" novalidate autocomplete="off">

                <!--Inicio de los inpust para el formulario  -->
                <div class="col-xs-12" id="frmRegisterProperty" ng-show="pagina==1">
                  <md-input-container class="col-xs-12 col-sm-12 col-md-12" layout="column">
                    <label for="">Nombre:</label>
                    <input type="text" ng-model="vm.name" name="name" ng-maxlength="20" required>
                    <div ng-messages="frmRegisterProperty.name.$error">
                      <div ng-messages-include="components/includes/messages.html"></div>
                    </div> <!--cierre del ng-messages -->
                  </md-input-container>

                    <md-input-container class="col-xs-12 col-sm-12 col-md-12" layout="column">
                      <label for="">Código:</label>
                      <input type="text" ng-model="vm.id" name="id" ng-maxlength="20" required>
                      <div ng-messages="frmRegisterProperty.id.$error">
                        <div ng-messages-include="components/includes/messages.html"></div>
                      </div> <!--cierre del ng-messages -->
                    </md-input-container>

                    <md-input-container class="col-xs-12 col-sm-12 col-md-12" layout="column">
                      <label for="">Posición:</label>
                      <input type="text" ng-model="vm.position" name="position" ng-maxlength="20" required>
                      <div ng-messages="frmRegisterProperty.position.$error">
                        <div ng-messages-include="components/includes/messages.html"></div>
                      </div> <!--cierre del ng-messages -->
                    </md-input-container>

                    <md-input-container class="col-xs-12 col-sm-12 col-md-12" layout="column">
                      <label for="">Precio:</label>
                      <input type="text" ng-model="vm.price" name="price" ng-maxlength="20" required>
                      <div ng-messages="frmRegisterProperty.price.$error">
                        <div ng-messages-include="components/includes/messages.html"></div>
                      </div> <!--cierre del ng-messages -->
                    </md-input-container>

                    <md-input-container class="col-xs-12 col-sm-12 col-md-12" layout="column">
                      <label for="">Grupo:</label>
                      <input type="text" ng-model="vm.group" name="group" required>
                      <div ng-messages="frmRegisterProperty.group.$error">
                        <div ng-messages-include="components/includes/messages.html"></div>
                      </div> <!--cierre del ng-messages -->
                    </md-input-container>

                    <md-input-container class="col-xs-12 col-sm-12 col-md-124" layout="column">
                      <label for="">Propiedad de:</label>
                      <input type="text" ng-model="vm.ownedby" name="ownedby" required>
                      <div ng-messages="frmRegisterProperty.ownedby.$error">
                        <div ng-messages-include="components/includes/messages.html"></div>
                      </div> <!--cierre del ng-messages -->
                    </md-input-container>

                    <md-input-container class="col-xs-12 col-sm-12 col-md-12" layout="column">
                      <label for="">Probabilidad:</label>
                      <input type="text" ng-model="vm.averageProbability" name="averageProbability" required>
                      <div ng-messages="frmRegisterProperty.averageProbability.$error">
                        <div ng-messages-include="components/includes/messages.html"></div>
                      </div> <!--cierre del ng-messages -->
                    </md-input-container>

                    <!-- Botones de Seleccionar foto, Registrar y Actualizar -->
                    <div class="col-xs-12 col-sm-12 col-md-12">

                      <div class="col-xs-12">
                        <div id="registrar">
                          <md-button class="button Active" type="submit" ng-disabled="frmRegisterProperty.$invalid" ng-click="vm.save()">Registrar</md-button>
                        </div>

                        <div class="displayNone" id="actualizar">
                          <md-button class="button edit" type="button" ng-disabled="frmRegisterProperty.$invalid" ng-click="vm.update(property);siguiente()">Actualizar</md-button>
                        </div>
                      </div>
                    </div>

                </div>

            </section> <!-- Cierre de la sección registerProperty -->
          </form> <!-- Cierre del formulario del jugador  -->
        </div>

        <div class="container" ng-show="pagina==2">

            <!--Buscador de jugadores-->
            <section class="inputSearch">
              <div class="col-sm-3 col-md-3 col-sm-offset-9 col-md-offset-9">
                <form action="" class="search-form">
                  <div class="form-group has-feedback">
                    <label for="Buscar" class="sr-only">Buscar</label>
                    <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </form>
              </div>
            </section>

            <div class="col-xs-12">
              <!--inicio de los cards -->
                <md-card class="container-fluid col-md-4 col-sm-6 " ng-repeat="property in vm.property | filter:vm.nameFilter">
                  <md-card-header>
                    <md-card-header-text>
                      <span class="md-title">{{property.name}}</span>
                      <span class="md-subhead">{{property.id}}</span>
                    </md-card-header-text>
                  </md-card-header>

                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-subhead">Posición: {{property.posistion}}</span>
                      <span class="md-subhead">Precio: {{property.price}}</span>
                      <span class="md-subhead">Grupo: {{property.group}}</span>
                      <span class="md-subhead">Propiedad de: {{property.ownedby}}</span>
                      <span class="md-subhead">Hipoteca: {{property.mortgaged}}</span>
                      <span class="md-subhead">Probabilidad: {{property.averageProbability}}</span>
                    </md-card-title-text>

                  </md-card-title>

                  <!-- Boton para cambiar el editar los jugadores -->
                  <md-card-actions id="buttons">
                    <md-button class="edit" ng-click="vm.getInfo(property);vm.hideButton();registro1()">Editar</md-button>
                  <md-card-icon-actions> <!-- cierre botones  -->
                <!--fin de los cards -->
          </div>
        </div>
      </div>
  </div>
