<a href="#!/landing" class="btn btn-info"  id="button-landing" role="button">Volver al Inicio</a>
  <div class="main-panel">
      <div class="container" >

          <!-- Inicio de la sección registerBuy, que contiene el formulario del jugador, registrar, modificar y listar-->
          <section id="registerBuy">

            <h1 class="text-center">Compra de propiedades</h1>
            <hr>

            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" ng-click="anterior()" href="">Registro</a></li>
              <li><a data-toggle="tab" ng-click="siguiente()" href="">Propiedades registradas</a></li>
            </ul>

            <!-- Inicio del formulario del jugador: -->
            <form name="frmRegisterBuy" novalidate autocomplete="off">

                <!--Inicio de los inpust para el formulario  -->
                <div class="col-xs-12" id="frmRegisterBuy" ng-show="pagina==1">

                  <md-input-container class="col-xs-12 col-sm-12 col-md-12" layout="column">
                    <label for="">Jugador:</label>
                    <input type="text" list="playerList" ng-model="vm.player" name="player" required>
                    <datalist id="playerList">
                      <option value="">Seleccione un jugador</option>
                      <option ng-repeat="player in vm.playerRel" value="{{player.name}}">{{vm.player.name}}</option>
                    </datalist>
                    <div ng-messages="frmRegisterBuy.player.$error">
                      <div ng-messages-include="components/includes/messages.html"></div>
                    </div> <!--cierre del ng-messages -->
                  </md-input-container>

                  <md-input-container class="col-xs-12 col-sm-12 col-md-12" layout="column">
                    <label for="">Propiedad:</label>
                    <input type="text" list="propertyList" ng-model="vm.property" name="property" required>
                    <datalist id="propertyList">
                      <option value="">Seleccione una propiedad</option>
                      <option ng-repeat="property in vm.propertyRel" value="{{property.name}}">{{vm.property.name}}</option>
                    </datalist>
                    <div ng-messages="frmRegisterBuy.property.$error">
                      <div ng-messages-include="components/includes/messages.html"></div>
                    </div> <!--cierre del ng-messages -->
                  </md-input-container>



                      <div class="col-xs-12">
                        <div id="registrar">
                          <md-button class="button Active" type="submit" ng-click="vm.save()" ng-disabled="frmRegisterBuy.$invalid">Comprar</md-button>
                        </div>

                        <div class="displayNone" id="actualizar">
                          <md-button class="button edit" type="button" ng-disabled="frmRegisterBuy.$invalid" ng-click="vm.update(buy);siguiente()">Actualizar</md-button>
                        </div>
                      </div>
                    </div>

                </div>

            </section> <!-- Cierre de la sección registerBuy -->
          </form> <!-- Cierre del formulario del jugador  -->
        </div>

        <div class="container" ng-show="pagina==2">

            <!--Buscador de jugadores-->
            <section class="inputSearch">
              <div class="col-sm-3 col-md-3 col-sm-offset-9 col-md-offset-9">
                <form action="" class="search-form">
                  <div class="form-group has-feedback">
                    <label for="Buscar" class="sr-only">Buscar</label>
                    <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </form>
              </div>
            </section>

            <div class="col-xs-12">
              <!--inicio de los cards -->
                <md-card class="container-fluid col-md-4 col-sm-6 " ng-repeat="buy in vm.buy | filter:vm.nameFilter">
                  <md-card-header>
                    <md-card-header-text>
                      <span class="md-title">{{buy.player}}</span>
                      <span class="md-subhead">{{buy.property}}</span>
                    </md-card-header-text>
                  </md-card-header>

                  <md-card-title>
                    <md-card-title-text>
                    </md-card-title-text>
                    <md-card-title-media>
                      <div class="md-media-md card-media">
                      </div>
                    </md-card-title-media>
                  </md-card-title>

                  <!-- Boton para cambiar el editar los jugadores -->
                  <md-card-actions id="buttons">
                    <md-button class="edit" ng-click="vm.getInfo(buy);vm.hideButton();registro1()">Editar</md-button>
                  <md-card-icon-actions> <!-- cierre botones  -->
                <!--fin de los cards -->
          </div>
        </div>
      </div>
  </div>
